.sitehead {
	width: 100%;
	height: 60px;
}
.container-fluid {
    background: white;

}

.skype {
	float: right;
	padding-top: 15px;
}
.bas1 {
	position: absolute;
	right: 20px;
	top: 13px;
}
.section-one {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/hotel.jpg);
	background-size: 100%;
	background-position: center;
	height: 394px;
	color: white;
	padding-top: 50px;

}
.header {
	text-align: center;
}
.float1 {
	background-color: white;
	height: 52px;
	position: absolute;
	left: 170px;
	width: 75%;
}
.float1a {
	width: 35%;
	float: left;
}
.float1b {
	width: 65%;
	float: left;
}
.name {
	padding-left: 75px;
	color: white;
	padding-top: 110px;
}
.section-two {
    text-align: center;
	color: #007aa5;
	padding-top: 30px;
}
.col-mid-4 {
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin: 15px;
}
.box {
	position: absolute;
	right: 180px;

}
.box1 {
    padding-top: 30px;
}
.city {
	padding-top: 300px;
	text-align: center;
}
.box1a {
	float: left;
	padding-left: 72px;
}
.box1b {
	float: left;
	padding-left: 30px;
}
.box1c {
	float: left;
	padding-left: 30px;

}
.box1d {
	float: left;
	padding-left: 30px;
	padding-top: 11px;

}
.box1e {
	float: left;
	padding-left: 30px;
	padding-top: 11px;
}
.clear {
	clear: both;
}
.box2 {
	padding-top: 30px;
}
.box2a {
	float: left;
	padding-left: 72px;
}
.box2b {
	float: left;
	padding-left: 30px;
}
.box2c {
	float: left;
	padding-left: 30px;
}
.box2d {
	float: left;
	padding-left: 30px;
	padding-top: 13px;
}
.box2e {
    position: absolute;
    left: 220px;
    top: 1375px;
}
.slider {
	padding-top: 100px;
	text-align: center;

	height: 300px;
}
.slider1 {
    background: #f0fff0;

    padding-top: 20px;
    text-align: center;
    height: 200px;
}
.content {
	text-align: center;

	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.question {
	padding-top: 50px;
}
.hidden-xs {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.footer {
	color: #7b68ee;;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #202a3c;
}
